---
layout: no_navbar
---
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <img class="img-responsive img-fullwidth img-circle" src="/assets/images/headshot.jpg">
        </div>
      </div>
      <h1 class="text-center">Angelina Calderon</h1>

      <p class="text-center">
        <a href="https://github.com/alinapaz"><i class="fa fa-github"></i> GitHub</a>
        |
        <a href="https://twitter.com/alinapaz"><i class="fa fa-twitter"></i> Twitter</a>
        |
        <a href="https://www.linkedin.com/in/alinapaz"><i class="fa fa-linkedin"></i> LinkedIn</a>
      </p>

      <p>
        My background includes over six years of growing businesses by driving partnerships, delivering innovative products and services, and strengthening processes to improve product delivery. I’m a focused leader with technical literacy and strong process development skills. A trusted advisor who can create a slide presentation for a new product, analyze and recommend project changes to optimize spend, and lead strategic meetings in the same day. Successful with team growth, project ownership, and tight deadlines.
      </p>

      <hr>

      <p class="text-center">
        Get in touch with me: <strong><a href="mailto:angelina@angelinacalderon.com">angelina@angelinacalderon.com</a></strong>
      </p>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <h4>Facebook</h4>
          <p>
            I manage strategic partnerships for location technology, focus on innovation and collective growth, and enable teams to hit their engineering goals.
          </p>
        </div>

        <div class="col-md-4">
          <h4>Day of The Shirt</h4>
          <p>
            I contribute to product development, support customers and analyze data for product research for our <a href="https://dayoftheshirt.com/">website</a> and <a href="https://itunes.apple.com/us/app/day-of-the-shirt/id636374332">mobile app</a>.
          </p>
        </div>

        <div class="col-md-4">
          <h4>Musician</h4>
          <p>
            I perform in the San Francisco Symphony Chorus and have experience teaching singing and choral music. Get in touch with me for my performance resume or to request a voice lesson.
          </p>
        </div>
      </div>
      {% if paginator.page != 1 %}
    {% include pager.html %}
  {% endif %}

  {% for post in paginator.posts %}
    {% include post.html post=post %}

    {% if forloop.last == false %}<hr>{% endif %}
  {% endfor %}

  {% include pager.html %}
    </div>
  </div>
</div>
